.header{
	border: 1px solid black;
	float: left;
	width: 150px;
	padding: 5px;
	margin: 1px;
	background-color: red;
	color: white;
	font-weight: bold;
}
.clear{
	clear: both;
}
.content{
	border: 1px solid black;
	width: 150px;
	margin: 1px;
	padding: 5px;
	float: left;	
}